@import 'scss/variables/_colors';

.container {
  background-color: rgba($black, 0.93);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.loader {
  height: 60px;
  width: 60px;
}

.message {
  color: $white;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  margin: 16px auto 36px;
}
