@import 'scss/variables/_colors';

%container {
  display: contents;
  height: 20vh;
  min-height: 175px;

  // These styles modify the div with class .ql-toolbar from the react-quill library

  div:nth-of-type(1) {
    background-color: $mercury;
    border-radius: 5px 5px 0 0 / 5px 5px 0 0;
  }

  // These styles modify the div with class .ql-container from the react-quill library

  div:nth-of-type(2) {
    border-radius: 0 0 5px 5px / 0 0 5px 5px;
    height: auto;
    margin-bottom: 25px;
    max-height: 50vh;
    min-height: 160px;

    // These styles modify the div with class .ql-editor from the react-quill library

    div:nth-of-type(1) {
      background-color: initial;
      max-height: 50vh;
      min-height: 160px;
      overflow-y: scroll;
      resize: vertical;
    }
  }
}

.container-isfocused {

  @extend %container;

  div:nth-of-type(1) {
    border-left-color: $blue-corn-flower;
    border-right-color: $blue-corn-flower;
    border-top-color: $blue-corn-flower;
  }

  div:nth-of-type(2) {
    border-bottom-color: $blue-corn-flower;
    border-left-color: $blue-corn-flower;
    border-right-color: $blue-corn-flower;
  }
}

.container-notfocused {

  @extend %container;

  div:nth-of-type(1) {
    border-left-color: $gray;
    border-right-color: $gray;
    border-top-color: $gray;
  }

  div:nth-of-type(2) {
    border-bottom-color: $gray;
    border-left-color: $gray;
    border-right-color: $gray;
  }
}
