@import 'scss/variables/_colors';

.tabs {
  border-bottom: 1px solid $gray;

  .tab {
    color: $black;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
    opacity: 0.5;
    padding: 15px;

    &:hover {
      opacity: 1;
    }
  }

  .active {
    border-bottom: 2px solid $green-apple;
    color: $green-apple;
    opacity: 1;

    &:hover {
      opacity: 0.8;
    }
  }
}
