@import 'scss/variables/_colors';

.item {
  border-bottom: 1px solid rgba($black, 0.1);
  padding: 24px;

  .title {
    color: $gray-dark;
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .description {
    display: block;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .more {
    color: $gray;
  }
}
