@import 'scss/components';
@import 'scss/variables/colors';

.input-wrapper {
  max-width: 1000px;
  width: 95vw;
}

.form-input {

  @extend %custom-input;
}

.input-error {

  @extend %custom-input;

  &:focus {
    border-bottom: 2px solid $red;
  }
}

.disabled-btn {
  cursor: not-allowed;
  opacity: 0.65;
}
