@import 'scss/fonts/_fonts';
@import 'scss/variables/_colors';

.editor-container {
  border-radius: 50%;
  margin: 0 auto;
  max-width: 1000px;
  width: 95vw;

  h1,
  h2,
  h3,
  p,
  span {
    color: $black;
    display: block;
    font: $unset;
    font-weight: 500;
  }

  strong {
    font-weight: 700;
  }
}
