@import 'scss/fonts/_fonts';
@import 'scss/variables/_colors';

.logo {
  color: $green-fern;
  cursor: pointer;
  font-family: $titillium;
  font-size: 30px;
  font-weight: 600;
}

.big-logo {
  font-size: 50px;
}
