@import 'scss/fonts/_fonts';
@import 'scss/variables/_colors';
@import 'scss/variables/_content';

.container {
  max-width: 728px;
  margin: 0 auto 16px;
  white-space: pre-wrap;
  width: 95vw;

  .link,
  .text {
    font-family: $source-sans-pro;
    font-size: 16px;
    line-height: 24px;
  }

  .link {
    color: $greenFern;

    &:hover {
      color: $greenGoblin;
      text-decoration: underline;
    }
  }

  .text {
    color: $outer-space;
  }
}
