@import 'scss/variables/_colors';

.button {
  border-radius: 3px;
  border: 1px solid $silver;
  color: $silver;
  padding: 4px 8px;

  &:hover {
    background: $silver;
    color: $white;
  }
}

.icon {
  margin-right: 5px;
}
