@import 'scss/fonts/_fonts';
@import 'scss/variables/_colors';
@import 'scss/variables/_content';

.banner {
  background-color: $mine-shaft;
  min-height: 20vh;
}

.container {
  margin: 0 auto;
  max-width: $max-content;
  padding: 15px;
  width: 95vw;
}

.title {
  color: $white;
  font-family: $source-sans-pro, sans-serif;
  font-size: 45px;
  font-weight: 600;
  line-height: 1;
}

.user-icon {
  border-radius: 32px;
  margin-right: 8px;
  height: 32px;
  width: 32px;
}

.user-link {
  color: $white;
  font-family: $source-sans-pro, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 2px;

  &:hover {
    text-decoration: underline;
  }
}

.date {
  color: $silver;
  font-family: $source-sans-pro, sans-serif;
  font-size: 12px;
}
