@import 'scss/fonts/_fonts';

.contentHeader{

    .logo{
        font-family: $Titillium;
        font-size: 1.5rem!important;
        padding-top: 0!important;
        margin-right: 2rem!important;
        color: #5cb85c!important;
    }
}