@import "scss/margins";
@import "scss/variables/colors";

.container {
  margin: 24px auto;
}

.title {
  color: $black;
  font-size: 40px;
  line-height: 40px;
}

.link-to-account {
  color: $greenFern;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;

  &:hover {
    color: $greenGoblin;
    text-decoration: underline;
  }
}

.errors-list-item {
  color: $redMatrix;
  list-style-type: disc;
  margin: 0 0 16px 18px;
}

.errorIcon {
  color: $redMatrix;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .form-container {
    padding: 0 15px;
    width: 100%;
  }
}
