@import 'scss/components';
@import 'scss/fonts/_fonts';
@import 'scss/variables/_colors';

.container {
  margin: 0 auto 12px;
  max-width: 728px;
  width: calc(90vw - 2px);
}

.input-wrapper {
  height: auto;
  min-height: 118px;
}

.text-area,
%text-area {

  @extend %custom-input;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-family: $source-sans-pro;
  font-size: 16px;
  height: 100%;
  line-height: 20px;
  margin: 0;
  min-height: 118px;
  padding: 20px;
  resize: vertical;
}

.input-error {

  @extend %text-area;
  border-bottom: 1px solid $mercury;
  border: 1px solid $red;

  &:focus {
    border: 1px solid $red;
  }

  &::placeholder {
    color: $red;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
  }
}

.footer {
  background-color: $wild-sand;
  border-bottom: 1px solid $mercury;
  border-left: 1px solid $mercury;
  border-right: 1px solid $mercury;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 12px 20px;
}

.user-icon {
  border-radius: 20px;
  height: 20px;
  margin-right: 4px;
  width: 20px;
}

.button {
  background-color: $green-fern;
  border-radius: 3px;
  color: $white;
  font-size: 14px;
  font-weight: 700;
  padding: 8px;

  &:hover {
    background-color: $green-goblin;
  }
}

.disabled-btn {
  cursor: not-allowed;
  opacity: 0.65;
}
