@import 'scss/fonts/_fonts';
@import 'scss/variables/_colors';
@import 'scss/variables/_content';

.container {
  border-bottom: 1px solid $black-opacity-ten;
  margin: 0 auto 48px;
  max-width: $max-content;
  padding: 15px;
  width: 95vw;

  h1,
  h2,
  p,
  a,
  span,
  li {
    color: $dove-gray;
    display: block;
    font: $unset;
    font-family: $source-serif-pro;
    font-weight: 500;
    line-height: 29px;
  }

  a {
    display: inline;
    color: $blue-corn-flower;
    text-decoration: underline;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 26px;
  }
}
