@import 'scss/variables/_colors';
@import 'scss/fonts/_fonts';

.title {
  color: $green-fern;
  font-family: $titillium;
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  margin: 20px 0;
}

.content-image {
  margin: 20px 0;
  text-align: center;

  .img {
    border-radius: 100%;
    border: 2px solid $green-fern;
    cursor: pointer;
    height: auto;
    max-width: fit-content;
    width: 200px;
  }
}

.section-avatars {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  padding: 15px;
}

.img-avatar {
  background-color: $gray;
  border-radius: 100%;
  border: 2px solid $green-fern;
  height: auto;
  width: 100%;

  &:hover {
    background-color: $green-fern;
    cursor: pointer;
  }
}
