@import 'scss/variables/_colors';
@import 'scss/variables/_content';

.header {
  background-color: $gray-light;
  padding: 30px 20px;
}

.content-user {
  text-align: center;
}

.content-button {
  margin: 0 auto;
  max-width: $max-content;
  text-align: right;
}
