@import '~wolox-equalizer/equalizer';

@import 'layout';

@import 'margins';

@import 'components';

@import 'fonts/fonts';

// TODO: Edit this global styles

* {
  font-family: $source-sans-pro;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
