$white: #FFF;
$black: #000;
$red: #F00;
$red-matrix: #B85C5C;
$blue: #00F;
$blue-corn-flower: #66AFE9;
$gray: #CCC;
$gray-dark: #282C34;
$gray-shadow: #797777;
$green-apple: #449D44;
$green-fern: #5CB85C;
$green-goblin: #3D8B3D;
$mine-shaft: #333;
$silver: #BBB;
$silver-chalice: #A2A2A2;
$outer-space: #373A3C;
$black-opacity-ten: #0000001A;
$mercury: #E5E5E5;
$wild-sand: #F5F5F5;
$dove-gray: #717171;
$gray-light: #F3F3F3;
$studio: #7E50AF;
