$white: #FFF;
$black: #000;
$red: #F00;
$redMatrix: #B85C5C;
$blue: #00F;
$blueCornflower: #66AFE9;
$gray: #CCC;
$gray-dark: #282C34;
$greenApple: #449D44;
$greenFern: #5CB85C;
$greenGoblin: #3D8B3D;
$mine-shaft: #333;
$silver: #BBB;
