$white: #FFF;
$black: #000;
$red: #F00;
$red-matrix: #B85C5C;
$blue: #00F;
$blue-corn-flower: #66AFE9;
$gray: #CCC;
$gray-dark: #282C34;
$gray-shadow: #797777;
$green-apple: #449D44;
$green-fern: #5CB85C;
$green-goblin: #3D8B3D;
